# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/job_tracker?schema=public"

# NextAuth
NEXTAUTH_SECRET="your-secret-here-run-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
